.HomePage {
    padding: 20px;
    width: 80%;
    margin: auto;
}

.CardImg {
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 10px;
}

.CardOverLay {
    width: 50%;
    height: 50%;
    margin: auto;
}

.CardTitle {
    font-weight: bold;
    color: azure;
    font-size: 100px !important;
}