.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animated-card {
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-height: 30vh;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
}

/* Media queries for different screen sizes */
@media (min-width: 768px) {
  .animated-card {
    width: 90%;
    max-width: 400px;
    margin: 10px auto;
  }
}

.animated-card::before 
{
	content: '';
	z-index: 0;
	position: absolute;
	top: -50%;
	left: -50%;
  width: 62vh;
  min-height: 62vh;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#ff4545,#ff4545);
	animation: animate 6s linear infinite;
}

.animated-card::after 
{
	content: '';
	z-index: 0;
	position: absolute;
	top: -50%;
	left: -50%;
  width: 62vh;
  min-height: 62vh;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#ff4545,#ff4545);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}

@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-screen img {
  width: 100px;
  height: 100px;
}
