.DetailPage {
    padding: 20px;
    width: 20%;
    min-width: 400px;
    margin: auto;
}

.CardDetailsPage {
    position: relative;
    margin: 10px;
    z-index: 2;
}

ul li {
    text-align: left;
}